body{
    background-color: rgb(253, 240, 222);
}


h2 {
    font-size: 40px;
}
.lege{
    text-align: center;
}
input {
    width: 600px;
    padding: 11px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
}

button {
    padding: 12px;
    font-size: 15px;
    background-color: #000300;
    color: white;
    border-radius: 5px;
    width: 100px;

}


.goals{
    text-align: center;
    margin-top: 30px;
    


}


*{
    margin: 0 ;
    padding: 0;
}

nav{
    background-color: rgb(146, 5, 5);
    padding: 1rem;

}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-size: 50px;



}
.first-p{
    font-size: 20px;
    margin: 0 10px 0 10px;
}
.fp{
    font-style: italic;
}
.kk{
    color:rgb(253, 240, 222);
    
}

#countlabel{
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200px;
}

#btncountainer{
    text-align: center;
}
.btn{
    padding: 12px;
    font-size: 15px;
    background-color: #000300;
    color: white;
    border-radius: 5px;
    width: 100px;
}